<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feni Central High School</title>
    <link rel="stylesheet" href="static/home.css">


</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="static/gfg.png" alt="School Logo">
            </div>
            <div class="logo3">
                <img src="static/gfg20.jpg" alt="School Logo">
            </div>
            <div class="logo2">
                <img src="static/gfg19.jpg" alt="School Logo2">
            </div>
            <!-- <div class="school-info">
                <h1>FENI CENTRAL HIGH SCHOOL</h1>
                <h2>ফেনী সেন্ট্রাল হাই স্কুল | স্থাপিতঃ ১৯১৯ খ্রিঃ</h2>
            </div> -->
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="academic">Academic</a></li>
                <li><a href="admission">Admission</a></li>
                <li><a href="student">Student</a></li>
                <li><a href="academic-result">Academic Result</a></li>
                <li><a href="board-result">Board Result</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="banner">
            <div class="banner-images">
                <img src="/static/gfg3.jpg" alt="Banner">
                <img src="static/gfg2.jpg" alt="Banner">
                <img src="static/gfg4.jpg" alt="Banner">
                <img src="static/gfg5.jpg" alt="Banner">
                <img src="static/gfg11.jpg" alt="Banner">
            </div>
        </section>

        <section class="welcome">
            <div class="welcome-text">
                <h2>Welcome to Feni Central High School</h2>
                <b><p>
                    Welcome to Feni Central High School, where every student is embraced as a unique individual, and every journey toward knowledge is celebrated. Nestled in the heart of Feni, Bangladesh, our school stands as a beacon of educational excellence since 1919. Here, we believe in nurturing not only the minds but also the hearts of our students, fostering a culture of inclusivity, respect, and lifelong learning.

                    At FCHS, we take pride in offering a vibrant learning environment where academic rigor meets creativity, and where students are encouraged to explore their passions and unlock their full potential. Our dedicated faculty members are committed to providing personalized guidance and support to help each student thrive academically, socially, and emotionally.
                    
                    Beyond the classroom, FCHS offers a rich tapestry of extracurricular activities, community service initiatives, and leadership programs, providing students with opportunities to develop their talents, build meaningful connections, and make a positive impact on the world around them.
                    
                    Whether you're just beginning your educational journey or seeking new horizons, we invite you to join our FCHS family and embark on a transformative experience that will shape not only your academic success but also your character and aspirations. Welcome to a place where learning knows no bounds and every dream is within reach
                </p></b>
            </div>
            <div class="video">
                <!-- Add your video embed code here -->
                <iframe width="100%" height="100%" src="https://www.youtube.com/watch?v=CIpUmLZUrRM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


            </div>
        </section>

        <!-- <section id="home">
            <h2>Welcome to Feni Central High School</h2>
            <p>Your journey to excellence starts here.</p>
        </section> -->

        <section id="about">
            <h2>About Feni Central High School</h2>
            <div id="about-content" class="about-content">
                <b>
                <p>Feni Central High School stands as a beacon of educational excellence in the heart of Feni, Bangladesh. Established in 1919, our institution has a rich history of nurturing young minds and fostering a culture of holistic development.</p>
                <p>At Feni Central High School, we believe in providing a conducive learning environment that encourages academic curiosity, critical thinking, and creativity. Our dedicated faculty members, equipped with years of experience and expertise, are committed to shaping the leaders of tomorrow.</p>
                <p>We offer a comprehensive curriculum that encompasses a wide range of subjects, ensuring that our students receive a well-rounded education. From mathematics to literature, science to the arts, we strive to instill in our students a passion for learning and a thirst for knowledge.</p>
                <p>Beyond academics, Feni Central High School places great emphasis on extracurricular activities and character development. Our students actively participate in sports, cultural events, community service initiatives, and leadership programs, honing their talents and skills beyond the classroom.</p>
                <p>With state-of-the-art facilities, modern classrooms, and a vibrant campus life, Feni Central High School provides an enriching educational experience that prepares students to excel in a rapidly changing world.</p>
                <p>Join us at Feni Central High School and embark on a journey of academic excellence, personal growth, and lifelong learning.
                    
                    <a href="about" id="readmore">Read more...</a>

                </p>
            </b>
            </div>
            
        </section>

        <section id="notice-board">
            <h2>Notice Board</h2>
            <div class="notice">
                <div class="notice-item">
                    <h3>Important Notice 1</h3>
                    <p>অত্র স্কুলের শিক্ষক-কর্মচারী, শিক্ষার্থী-অভিভাবক ও সংশ্লিষ্ট সকলের অবগতির জন্য জানানো যাচ্ছে যে, আসন্ন উপজেলা পরিষদ নির্বাচন উপলক্ষে আগামী ২৮/০৫/২০২৪ খ্রি. রোজ মঙ্গলবার এবং ২৯/০৫/২০২৪ খ্রি. বুধবার স্কুলের শ্রেণি কার্যক্রম বন্ধ থাকবে। আগামী ৩০/০৫/২০২৪ খ্রি. রোজ বৃহস্পতিবার স্কুলের শ্রেণি কার্যক্রম যথারীতি চলবে।</p>
                </div>
                <div class="notice-item">
                    <h3>Important Notice 2</h3>
                    <p>ফেনী সেন্ট্রাল হাই স্কুল এর এসএসসি ২০২৪ পরীক্ষার ফলাফল।
                        পাশের হার: ৯১.৮৬%
                        জিপিএ ৫: ৮১ জন।</p>
                </div>
                <div class="notice-item">
                    <h3>Important Notice 3</h3>
                    <img src="static/gfg9.jpg" alt="">
                </div>
                <div class="notice-item">
                    <h3>Important Notice 4</h3>
                    <img src="static/gfg10.jpg" alt="">
                </div>
                <!-- Add more notice items as needed -->
            </div>
        </section>
        <section id="headmaster-photos">
            <h2>Headmaster's Photos</h2>
            <div class="photos-container">
                <div class="headmaster-photo">
                    <img src="static/gfg6.jpg" alt="Headmaster's Photo">
                    <p>মোহাম্মদ গিয়াস উদ্দিন (Headmaster)</p>
                </div>
                <div class="assistant-headmaster-photo">
                    <img src="static/gfg7.jpg" alt="Assistant Headmaster's Photo">
                    <p>	মোহাম্মদ মমিনুল হক (Assistant Headmaster)</p>
                </div>
            </div>
        </section>

        <section id="events">
            <h2>Events Of Feni Central High School</h2>
            <div class="event-container">
                <div class="event-item">
                    <img src="static/gfg12.jpg" alt="Event 1">
                    <div class="event-description">
                        <!-- <h3>Event 1</h3> -->
                        <p>Description of Event 1 goes here...</p>
                    </div>
                </div>
                <div class="event-item">
                    <img src="static/gfg13.jpg" alt="Event 2">
                    <div class="event-description">
                        <!-- <h3>Event 2</h3> -->
                        <p>Description of Event 2 goes here...</p>
                    </div>
                </div>
                <div class="event-item">
                    <img src="static/gfg14.jpg" alt="Event 2">
                    <div class="event-description">
                        <!-- <h3>Event 2</h3> -->
                        <p>Description of Event 2 goes here...</p>
                    </div>
                </div>

                <div class="event-item">
                    <img src="static/gfg15.jpg" alt="Event 2">
                    <div class="event-description">
                        <!-- <h3>Event 2</h3> -->
                        <p>Description of Event 2 goes here...</p>
                    </div>
                </div>

                <div class="event-item">
                    <img src="static/gfg16.jpg" alt="Event 2">
                    <div class="event-description">
                        <!-- <h3>Event 2</h3> -->
                        <p>Description of Event 2 goes here...</p>
                    </div>
                </div>

                <div class="event-item">
                    <img src="static/gfg17.jpg" alt="Event 2">
                    <div class="event-description">
                        <!-- <h3>Event 2</h3> -->
                        <p>Description of Event 2 goes here...</p>
                    </div>
                </div>
                <!-- Add more event items as needed -->
            </div>
        </section>

        <section id="dress-code">
            <h2>Dress Code</h2>
            <div class="dress-code-photos">
                <div class="dress-code-item">
                    <img src="static/gfg8.jpg" alt="Dress Code Photo 1">
                    <p>Boys' Dress Code And Girls' Dress Code</p>
                </div>
        </section>


    </main>

    <footer>
        <p>&copy; 2024 Feni Central High School. All rights reserved.</p>
    </footer>
</body>
</html>
